%span.sort_type Trending Crushes
-if flash.any?
  %h3{style: "color: red"}=   flash[:error]
  %h3{style: "color: green"}= flash[:success]

.photo_block
  =@sorted_crushes.each do |crush|
    .whole_photo
      %h3=link_to image_tag(crush.image.url, :alt => crush.description), crush.image.url, html_options = { :class => "prettyPhoto", :rel => "prettyPhoto", :title => crush.description }
      %span.crush_description
        = crush.description
        %span.vote_link
          =link_to "upvotes #{crush.up_votes.count}", votes_path({:crush_id => crush, :up => true}), :id => 'vote', :data => { :text => 'upvotes'}, :method => 'post', remote: true
          =link_to "downvotes #{crush.down_votes.count}", votes_path({:crush_id => crush, :up => false}), :data => { :text => 'downvotes'}, :id => 'vote', :method => 'post', remote: true
