 <h1>Trending Crushes</h2>

<% if flash.any? %>
  <h3 style="color: green;"><%= flash[:success] %></h3>
<% end %>

 <div>
   <% @sorted_crushes.each do |crush| %>
    <div class="crush_post">
      <h3><%= link_to image_tag(crush.image.url, width: 500, :alt => crush.description), crush.image.url, html_options = { :class => "prettyPhoto", :rel => "prettyPhoto", :title => crush.description } %></h3>
      <p><%= crush.description %></p>
      <ul data-aggregate="<%= crush.aggregate %>">
        <li class="vote_link"><%= link_to "upvotes #{crush.up_votes.count}", votes_path({:crush_id => crush, :up => true}), :id => 'vote', :data => { :text => 'upvotes', :up => true }, :method => 'post', remote: true %></li>
        <li class="vote_link"><%= link_to "downvotes #{crush.down_votes.count}", votes_path({:crush_id => crush, :up => false}), :data => { :text => 'downvotes', :up => true }, :id => 'vote', :method => 'post', remote: true %></li>
      </ul>
    </div><br>
   <% end %>
 </div>
