 <h1>Trending Crushes</h2>

<% if flash.any? %>
  <h3 style="color: green;"><%= flash[:success] %></h3>
<% end %>

 <div>
   <% @sorted_crushes.each do |crush| %>
    <div>
      <h3><%= link_to crush.url, crush_path(crush) %></h3>
      <p><%= crush.description %></p>
      <ul>
        <li class="vote_link"><%= link_to "upvotes #{crush.up_votes.count}", votes_path({:crush_id => crush, :up => true}), :id => 'vote', :data => { :text => 'upvotes'}, :method => 'post', remote: true %></li>
        <li class="vote_link"><%= link_to "downvotes #{crush.down_votes.count}", votes_path({:crush_id => crush, :up => false}), :data => { :text => 'downvotes'}, :id => 'vote', :method => 'post', remote: true %></li>
      </ul>
    </div><br>
   <% end %>
 </div>
