<h3>Login i'm at session new!</h3>
<%= form_tag sessions_path do %>
 <%= render "shared/form_errors", :object => @session %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag 'Login' %>
<% end %>
